# .gitignore for Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/*.log
.DS_Store
frankenphp
Caddyfile
/bootstrap/cache/*.php*:Zone.Identifier
